.bo_clockContainer {
    display: flex;
    position: absolute;
    top: 80px;
    left: calc(3.6vw);
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: rgb(215, 215, 215);
    text-shadow: 0 0 6px rgba(0,0,0,0.9);
    transform: translateY(-50%);
    transform-origin: left top;
    z-index: 29;
    font-weight: 500;
}