.bo_effContainer {
    display: flex;
    position: absolute;
    top: 80px;
    left: calc(50vw - 10px);
    transform: translateX(-50%);
    transform-origin: center top;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: rgb(215, 215, 215);
    text-shadow: 0 0 6px rgba(0,0,0,0.9);
    z-index: 30;
    font-weight: 500;
}

.bo_effIcon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin: 0 2px 2px 10px;
}

.bo_effIcon_gun {
    width: 23px;
    height: 20px;
    vertical-align: middle;
    margin: 0 2px 1px 10px;
}