.bo_effContainer {
    align-items: center;
    color: rgb(214, 211, 206);
    display: flex;
    font-size: 26px;
    font-weight: 500;
    justify-content: center;
    left: calc(50vw - 10px);
    opacity: 1 !important;
    position: absolute;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.96);
    top: 84px;
    transform-origin: center top;
    transform: translateX(-50%);
    z-index: 9999;
    line-height: 1;
}

.bo_effIcon {
    margin: 0 2px 0 10px;
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.assistIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/help.png");
}

.blockedIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/armor.png");
}

.damageIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/damage.png");
}

.winRateIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/wins.png");
}

.stunIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/stun.png");
}

.spottedIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/detection.png");
}

.battlesIcon {
    background-image: url("img://gui/maps/icons/battle_observer/efficiency/battles.png");
}

.marksOnGunIcon0 {
    background-image: url("img://gui/maps/icons/battle_observer/gun/00.png");
}

.marksOnGunIcon1 {
    background-image: url("img://gui/maps/icons/battle_observer/gun/01.png");
}

.marksOnGunIcon2 {
    background-image: url("img://gui/maps/icons/battle_observer/gun/02.png");
}

.marksOnGunIcon3 {
    background-image: url("img://gui/maps/icons/battle_observer/gun/03.png");
}