.bo_effContainer {
    align-items: center;
    color: rgb(214, 211, 206);
    display: flex;
    font-size: 26px;
    font-weight: 500;
    justify-content: center;
    left: calc(50vw - 10px);
    opacity: 1 !important;
    position: absolute;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.94);
    top: 80px;
    transform-origin: center top;
    transform: translateX(-50%);
    z-index: 9999;
}

.bo_effIcon {
    height: 22px;
    margin: 0 2px 2px 10px;
    vertical-align: middle;
    width: 22px;
}

.bo_effIcon_gun {
    height: 20px;
    margin: 0 2px 1px 10px;
    vertical-align: middle;
    width: 23px;
}