.idea/
*.pyc
*.swf
*.log
*.db
/flash_source/obj/
/flash_source/swc/
/flash_source_hangar/obj/
/flash_source_hangar/swc/
/mod/res/gui/
/configs/mod_battle_observer/__NIDIN__/
/configs/mod_battle_observer/3Jlou_CkuJloBuk/
/configs/mod_battle_observer/NooBooL/
